@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

:root {
  --primary-color: #87ceeb;
  --accent: #ffc0cb;
  --highlight: #dda0dd;
  --text: #5a5a5a;
  --white: #ffffff;
  --success: #90ee90;
}

::selection {
  background-color: var(--primary-color);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  text-align: center;
  background-image: linear-gradient(to right, var(--primary-color), #d3d3d3);
}

input {
  color: var(--text);
  border-radius: 5px;
  outline: none;
  margin: 0.5rem;
  border: none;
}

input:focus {
  color: var(--text);
}

li {
  color: var(--primary-color);
  font-size: 2rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: solid 1px var(--primary-color);
  margin-bottom: 1rem;
  text-align: left;
}

i {
  color: var(--text);
  font-size: 1.5rem;
  margin-left: 0.8rem;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  padding: 2rem;
}

.list-container {
  display: inline-block;
  max-width: 550px;
}

.input-container {
  background-color: var(--white);
  max-width: 300px;
  padding: 1rem 0rem;
  margin: 1.5rem auto;
}

.addBtn {
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}

.addBtn:hover,
.addBtn:focus {
  transform: scale(1);
}

.title {
  color: var(--white);
  font-size: 3.5rem;
  letter-spacing: 4px;
  margin: 1.5rem 0;
}

.list {
  list-style: none;
  background-color: var(--white);
  max-width: 300px;
  padding: 1rem 0rem;
  margin: auto;
}

.settings {
  font-size: 2rem;
  color: var(--text);
  cursor: pointer;
}

.done {
  text-decoration: line-through var(--text);
}

.error {
  border-color: red;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 4rem;
  }

  .addBtn {
    font-size: 1.5rem;
  }
}
